body{
	text-align: center;

}
.whole{
	border-style: solid;
	border-color: #e1f4f3;
	border-radius: 1px;
	padding:7px;
	background-color: #e1f4f3;
}
.nav-item {
  padding: 0 10px;
}
.navbar-brand {
  font-family: "Montserrat-Light";
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}
/*.menu {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  }*/
.one{
	   background-color:#0f4c75;
	 height:70px;
	 padding-bottom: 90px;
	 padding-top: 2px;
	 border-radius: 5px;
	}
.two{
	 background-color:#e1f4f3;
	 height: 105px;

	}
.three{
	 background: linear-gradient(-180deg, #0f4c75, white);
	 height: 275px;
	 font-size: 5px;
	 border-radius: 5px;
	}
.row{
	padding:1%;
}
/*.card-body1{
	background: url("lewis.jpeg");
	}
.card-body2{
	background: url("images (1).jfif");
	}
.card-body3{
	background: url("lewis.peg");
}
*/
.card-body{
align-items: center;
padding-left: 20%;
padding-bottom: 3%;
background-image: url(grad.jpg);
background-size: cover;

}
.btnn{
	width: 90%;
	height: 5%;
	padding: 5px;
	align-items: center;
	font-size: 60%;
}
.four{color: white;
	 padding-top: 15px;
	 background: url("mt.jpeg");
	 height: 150px;
	 text-align: center;
	}
.five{
	  background-color: white;
	 height: 180px;
	}

.feature-title {
  font-size: 1rem;
}

.feature-circle {
  padding: 1.5%;
}

.icon {
  color: #0f4c75;
  margin-bottom: auto;
  border-style: circle;
  border-radius: 180%;
  padding:4px;

}

.icon:hover {
  color: #40bfc1;
}
h3{
	font-style: bold;
	padding-left: 10%;
	word-spacing: 70px
}
.six{
	 background-color: gray;
	 height: 190px;
	}
.download-button {
  margin: 1% 3% 5% 0;
}
h5{
	font-style: bold;
	padding-left: 10%;
	word-spacing: 70px;
	padding-top: 20px;
}
.seven{
	 background-color: white;
	 height: 105px;
	}
	.social-icon {
  margin: 20px 10px;
}

	form.searchIn input[type=text] {
		padding:10px;
  font-size: 14px;
  border: 1px grey;
  border-right: none;
  border-radius: 5px;
  float: center;
  width: 55%;
  background: white;
	position: relative;
}

/* Style the submit button */
form.searchIn button {
  width: 7%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  border-radius: 5px;
  cursor: pointer;
}

form.searchIn button:hover {
  background: #bbe1fa;
}
.searchIn{
	padding-top: 30px;
	padding-left: 500px;
}
